@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "bootstrap/dist/css/bootstrap.min.css" */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

.animate-fade-in-up {
  animation: fadeInUp 1s ease-out both;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

